body
{
    top: 0;
    background-color: rgb(46, 48,60);
    color: #FFF;
    letter-spacing: 2PX;
    font-size: 30PX;
}
.container
{
    margin-top: 100px;
    display: flex;


    width: 100vw;
    /* background-color: black; */
    /* align-items: center; */
    justify-content: center;
   
}
.box{
    margin-top: -40px;
    display: block;
    background:rgba(255, 255, 255,0.5);
    padding: 20px;
    height: 200px;

    
}
.input
{
    margin-top: 20px;
    width: 400px;
    height: 40px;
    padding: 0 30px;
    font-weight: bolder;
    
}

button
{
    border-radius: 20px;
    background-color: powderblue;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    color: black;
    font-weight: bolder;
}